CAVinCustHost/Service References/CustOrders/Service132.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vinweblaptop.vincent.local/VinCustOrders/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VinCustOrders" />
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VinCustOrders" minOccurs="0" name="GetOrdersResult" nillable="true" type="q1:ArrayOfVPIOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordernu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VinCustOrders" minOccurs="0" name="GetOrderResult" nillable="true" type="q2:VPIOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>