CAVinCustHost/Service References/CustOrders/Service131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VinCustOrders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VinCustOrders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVPIOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VPIOrder" nillable="true" type="tns:VPIOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVPIOrder" nillable="true" type="tns:ArrayOfVPIOrder" />
  <xs:complexType name="VPIOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Advertiser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CsrEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CsrName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Design" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceivedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackingNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VPIOrder" nillable="true" type="tns:VPIOrder" />
</xs:schema>